body{
    margin: 0px;
    height: 100%;
}

.container {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}

.section-left {
    background-color: rgb(240,240,240);
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 100%;
    position: relative;
}

.section-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    min-height: 100vh;
    justify-content: space-between;
    position: relative;
}